{% extends "base.html" %}

{% block style %}
{% endblock %}

{% block title %}
	<div class="page-header">
	  <h1>Torrents <small>{% if title is defined %} {{ title }} {% endif %}</small></h1>
	</div>
{% endblock %}

{% block content %}
	
	<!-- breadcrumb -->
	<ul class="breadcrumb">
		<li><a href="{{ url_for('listBy') }}">Home</a> <span class="divider">/</span></li>
		<li class="active">List</li>
	</ul>

	<!-- result -->
	<ul class="nav nav-tabs nav-stacked">
	{% for url in urls %}

			<a href='/magnet{{url.url}}' style='{{url.font_size}}'>{{url.name}}</a>

	{% endfor %}
	</ul>

{% endblock %}