{% extends "base.html" %}

{% block style %}
{% endblock %}

{% block title %}
	<h1>Home</h1>
{% endblock %}

{% block content %}

<!-- breadcrumb -->
<ul class="breadcrumb">
  <li class="active">Home</li>
</ul>

<!-- results -->
<ul class="nav nav-tabs nav-stacked">
	<li><a href="{{ url_for('listBy', peer_seeds='S', tv_movies='movies') }}">Movies by Seeds</a></li> 
	<li><a href="{{ url_for('listBy', peer_seeds='P', tv_movies='movies') }}">Movies by Peers</a></li>
	<li><a href="{{ url_for('listBy', peer_seeds='S', tv_movies='tv') }}">TV by Seeds</a></li>
	<li><a href="{{ url_for('listBy', peer_seeds='P', tv_movies='tv') }}">TV by Peers</a></li>
</ul>

{% endblock %}