{% extends "base.html" %}

{% block style %}
{% endblock %}

{% block title %}
<div class="page-header">
	<h1>{% if title is defined %} {{ title }} {% endif %}</h1>
</div>
{% endblock %}

{% block content %}
<ul class="list-group">
{% for url in urls %}
	<li class="list-group-item">
	{% if url.torrenthash and url.title %}
	<a href='/magnet{{url.torrenthash}}'>{{ url.title|truncate(100) }}</a>
	{% endif %}
	
	{% if url.mb %}
	<span class="badge alert-warning hidden-sm hidden-xs">{{url.mb}}</span>
	{% endif %}

	{% if url.leechers %}
	<span class="badge alert-info hidden-sm hidden-xs">Leechers: {{url.leechers}}</span>
	{% endif %}

	{% if url.seeds %}
	<span class="badge alert-success hidden-sm hidden-xs">Seeds: {{url.seeds }}</span>
	{% endif %}

	{% if url.date %}
	<span class="badge hidden-sm hidden-xs">{{url.date}}</span>
	{% endif %}

	{% if '1080p' in url.title %}
	<span class="label label-success hidden-sm hidden-xs">1080p</span>
	{% elif '720p' or 'HDTV' in url.title %}
	<span class="label label-warning hidden-sm hidden-xs">720p</span>
	{% endif %}
	</li>
{% endfor %}
</ul>

{% if pagination is defined %}
<ul class="pager">
  {% if pagination.prev %}<li><a href="{{ pagination.prev }}">Previous</a></li>{% endif %}
  {% if pagination.next %}<li><a href="{{ pagination.next }}">Next</a></li>{% endif %}
</ul>
{% endif %}

{% endblock %}