{% extends "base.html" %}

{% block style %}
{% endblock %}

{% block title %}
	<div class="page-header">
	  <h1>Torrents <small>{% if title is defined %} {{ title }} {% endif %}</small></h1>
	</div>
{% endblock %}

{% block content %}
	
	<!-- breadcrumb -->
	<ul class="breadcrumb">
		<li><a href="{{ url_for('listBy') }}">Home</a> <span class="divider">/</span></li>
		<li class="active">List</li>
	</ul>

	<ul class="nav nav-tabs nav-stacked">
	{% for link in cloud %}
		<a href='/search/{{link.url}}' style='{{link.font_size}}'>{{link.name}}</a>
	{% endfor %}
	</ul>

	<!-- result -->
	<ul class="nav nav-tabs nav-stacked">
	{% for url in urls %}

		<li>
			<a href='/magnet{{url.torrenthash}}'>{{ url.title }}
			{% if '1080p' in url.title %}
				<span class="label label-success">1080p</span>
			{% elif '720p' or 'HDTV' in url.title %}
				<span class="label label-warning">720p</span>
			{% endif %}
			</a>
		</li>

	{% endfor %}
	</ul>

{% endblock %}