{% extends "base.html" %}

{% block style %}
{% endblock %} 

{% block title %}
	<div class="page-header">
	  <h1>Torrents <small>Magnet link</small></h1>
	</div>
{% endblock %}

{% block search %}
{% endblock %}

{% block content %}

	<!-- breadcrumb -->
	<ul class="breadcrumb">
		<li><a href="{{ url_for('listBy') }}">Home</a> <span class="divider">/</span></li>
		<li class="active">List <span class="divider">/</span></li>
		<li class="active">Download</li>
	</ul>

	{% if link is defined and link is not none %}
		<a href='{{ link.url }}' class="btn btn-primary">download from {{ link.mirror }} </a>
	{% else %}
		<p>Unable to find a magnet link</p>
	{% endif %}

{% endblock %}

{% block script %}
{% endblock %}